/* .agenda{
    height: 610px;
} */

.formulario-contato {
    width: 940px;
    margin: 0 auto;
  }
  
  .contato {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin: 20px 0;
  }
  
  form {
    margin: 40px 0;
  }
  
  form label {
    display: block;
    font-size: 20px;
    margin: 15px 0;
  }
  
  .input-padrao{
    width: 90%;
    padding: 10px 25px;
    border: 1px solid #333;
    border-radius: 10px;
    font-size: 20px;
    /* margin: 0 0 20px 0; */
  }
  
  legend {
    padding: 20px 0 0 0;
    font-size: 20px;
  }
  
  .preferecontato {
    margin: 0 0 20px 0;
  }
  /* .checkbox {
    margin: 15px 0;
  } */
  input[type="radio"],
  input[type="checkbox"] {
    /* border: 0px; */
    width: 30px;
    height: 20px;
    margin: 15px 0 0 0;
  }
  
  select {
    width: 30%;
    padding: 10px 25px;
    border: 1px solid #333;
    border-radius: 10px;
    font-size: 20px;
    margin: 0;
  }
  
  button {
    padding: 15px 0;
    border: none;
    border-radius: 15px;
    background: var(--primary);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    /* transition: 1s all; */
  }
  /* mouse por cima */
  button:hover {
    background: #088c19;
    /* aumenta o tamanho do elemento em 20% */
    transform: Scale(1.2);
    /* rotaciona o botao em 70 graus  */
    /* transform: rotate(70deg); */
  }
  
  /* comportamento ativo com o mouse clicado */
  button:active {
    background: BLUE;
  }
  
  /* tabela */
  
  table {
    margin: 20px 0 40px;
  }
  
  /* tabela */
  thead {
    background: #555555;
    color: white;
    font-weight: bold;
  }
  td,
  th {
    border: 1px solid #000000;
    padding: 8px 15px;
  }
  /* responsividade */
  
  /* largura maxima de 480px */
  @media screen and (max-width: 540px) {
   
    .formulario-contato {
      width: auto;
      margin: 0 15px;
    }
  
    h1 {
      text-align: center;
    }
 
  
    select {
      width: 80%;
    }
    .checkbox {
      line-height: 1.2;
    }
    table {
      margin: 40px 60px 40px;
    }
  }
  /* largura maxima de 480px */
  @media screen and (max-width: 940px) {
    .formulario-contato {
      width: auto;
      margin: 0 25px;
    }
  
 
  }
  