* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.funcionario{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
     
  }
    
  .center {
     padding: 1rem;
     background: white;
     width: 50%;
     border-radius: 10px;
  display: flex;
 flex-direction: column;
  margin:  0 ;
  /* max-height: auto; */
  border: 2px solid #abd9e9;
    }

  h5{
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    /* text-align: center; */
    padding: 10px;
    color: #333;

  }

 h2, p{
    text-align: center;
    padding: 0 0 10px  0;
    font-size: 18px;
 
  }
 
.descricao{
  margin: 0 45px;
  text-align: justify;
    line-height: 25px;

}

  .id{
    max-width: 48px;
    overflow: hidden;
     white-space: nowrap;
  margin: 0;

  margin-left: 5px;

  }
  .lista1 {
    display: flex;
   
    margin: 0 45px;
  }
  
  


  .btn-agenda{
    display: flex;
justify-content: center;
margin: 10px  0;
  }

  .btn-detalhe {
    padding: 14px 32px;
    border: 1px solid var(--primary);
    background-color: blue;
    border-radius: 24px 4px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    margin: 0 20px ;
    color: white;
 
  }

  .btn-detalhe a {
    color: #fff;
  }
  
  .btn:hover {
    box-shadow: rgb(0 0 0 / 25%) 0px 8px 24px;
  
  }
  .btn:active  {
  
    color: black;
  
  }
  
  .branco{
    min-height: 150%;
    padding: 80px;
  }


  @media screen and (max-width: 480px) {
    .center{
      width: 80%;
      margin-top: 50px;
      /* height: auto; */

  }
.titulo{
  margin-top: 50px; 
}
  .detalhe:hover {
    box-shadow: 0;
    
    }
.descricao{
  margin: 0 5px;
}

h2, p{
 
  padding: 0 0 15px  0;
 
}

.branco{
  min-height: 150%;
  padding: 230px;
}

}
  
  @media screen and (max-width: 1240px) {
     .funcionario {
        grid-template-columns: 1fr;
        margin: 1rem 0;
        position: sticky;
    }
  
    .center{
  width: 80%;

   
    }
 
  p, .descricao{
 margin-bottom: 10px;
  }
  .branco{
    min-height: 250%;
    padding: 430px;
  }
  }  